/* Hoja de Estilos -- Pagina Web */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables */

:root {
    /* Colores */
    --blue-color: #11AFB4;
    --white-color: white;
    --black-color: #313337;
    /* Tipografia */
    --normal: 12px;
    /* Espaciado */
    --space: 10px;
    --space-2: 20px;
    /* Box Shadow */
    --box: 0 0 2px 1px #e6e5e9;
}

html, body {
    padding: 0;
    margin: 0;
    /* font-size: var(--normal); */
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: var(--normal);
}

hr {
    opacity: 0.2;
}

/* NavBar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background-color: var(--blue-color);
    padding: var(--space);
}

.logo_cat {
    height: 30px;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
    font-size: var(--normal);
}

nav li a:hover {
    color: var(--white-color);
} 

/* Main Section */

.main_section {
    padding: 10%;
    text-align: center;
}

/* Products */

.products {
    background-image: url('../images/curve.png');
    height: 50px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 10%;
    display: flex; 
    justify-content: center;
}

.product {
    padding: var(--space-2);
    margin-top: -280px;
}

.product .content {
    background-color: var(--white-color);
    padding: var(--space-2);
    box-shadow: var(--box);
    border-radius: 3px;
}

.image_product {
    text-align: center;
}

.image_product img {
    height: 150px;
}

.main_button {
    background-color: var(--blue-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #0d8286 ;
}

/* Benefits */

.benefits {
    padding: 8%;
    display: flex; 
    justify-content: space-evenly;
}

.benefit {
    text-align: center;
    width: 400px;
    padding: var(--space-2);
}

.benefit img {
    max-height: 180px;
}

/* Mentions */

h2.mention_title {
    text-align: center;
}

.mentions {
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
}

.mention {
    text-align: center;
    padding: var(--space);
    width: 300px;
}

.mention img {
    width: 100%;
}

.content_mention {
    box-shadow: var(--box);
}

.mention .text {
    padding: var(--space);
}

.content_mention p {
    padding-bottom: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space-2);
    color: var(--white-color);
}

footer a {
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--normal);
}

/* Producto */
.pic_product {
    max-width: 100%;
}